<form (ngSubmit)="guardar(formulario)" #formulario="ngForm">
  <div class="mb-3">
    <label class="form-label">ID</label>
    <input type="text" class="form-control" name="_id" [(ngModel)]="usuario._id" disabled>
  </div>

  <div class="mb-3">
    <label class="form-label">Nombres</label>
    <input type="text" class="form-control" name="nombres" [(ngModel)]="usuario.nombres">
  </div>

  <div class="mb-3">
    <label  class="form-label">Email</label>
    <input type="email" class="form-control" name="email" [(ngModel)]="usuario.email">
  </div>

  <div class="mb-3">
    <label class="form-label">Password</label>
    <input type="password" class="form-control" name="password" >
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>