<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombres</th>
      <th scope="col">Correo</th>
      <th scope="col">Password</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listaUsuarios" >
      <th scope="row">{{item._id}}</th>
      <td>{{item.nombres}}</td>
      <td>{{item.correo}}</td>
      <td>{{item.password}}</td>
      <td>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary" [routerLink]="['/detalles-u', item._id]">Detalles</button>
          <button type="button" class="btn btn-danger" (click)="borrarUsuario(item._id)">Borrar</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>